.container {
    background-color: rgba(0, 0, 0, 0.236);
    backdrop-filter: blur(10px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 4%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.container * {
    color: white;
}

.menuIcon, .closeIcon {
    cursor: pointer;
}

.menuIcon {
    display: none;
}

.container:hover {
    background-color: white;
}

.container:hover * {
    color: black;
}

.container:hover img {
    filter: brightness(0) invert(0);
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1875rem;
    letter-spacing: -2px;
}

.linkList {
    display: flex;
    gap: 20px;
}

.linkList>a {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.openMenuForTelephone, .closeMenuForTelephone {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    gap: 20px;
}

.openMenuForTelephone {
    transform: translateX(0);
}

.closeMenuForTelephone {
    transform: translateX(-100%);
}

.menuBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menuBlock * {
    color: black;
}

.menuBlock > img {
    filter: brightness(0) invert(0);
}

.menuForTelephoneLinkList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menuForTelephoneLinkList a {
    color: black;
    font-size: 1.1rem;
    width: 100%;
    padding: 20px;
}

.menuForTelephoneLinkList a:hover {
    background-color: rgb(211, 211, 211);
}

@media screen and (max-width: 700px) {
    .container {
        justify-content: center;
    }

    .linkList {
        display: none;
        position: absolute;
    }

    .menuIcon {
        display: block;
        position: absolute;
        left: 4%;
        top: calc(50% - 13.5px);
    }
}