.container {
    background-color: #131313;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.container > h6 {
    color: rgb(155, 155, 155);
    font-size: 9px;
    font-weight: 100;
    letter-spacing: 1px;
}